@model EditProjectViewModel

<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="Add" asp-controller="Projects">

            <div class="image-previewer">
                <img src="" class="image-preview" />
                <input asp-for="Image" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Clients"></label>
                <div class="form-select">
                    <select asp-for="Clients" asp-items="Model.Clients"></select>
                    <span asp-validation-for="Clients"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-horizontal-group">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Members"></label>
                <div class="field-group">
                    <input asp-for="Members" />
                    <span asp-validation-for="Members"></span>
                </div>
                </div>

                <div class="form-group">
                    <label asp-for="Budget"></label>
                    <div class="field-group">
                        <input asp-for="Budget" />
                        <span asp-validation-for="Budget"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-submit btn-blue">Save</button>
        </form>

    </div>
</div> 