@model EditProjectViewModel

<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h4>Edit Project</h4>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form asp-action="Edit" asp-controller="Projects" method="post" novalidate data-form="edit">

            <div class="image-previewer">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" id="edit-ProjectImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" id="edit-ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SelectedClientId">Client</label>
                <div class="field-group">
                    <select asp-for="SelectedClientId" asp-items="Model.Clients" id="edit-SelectedClientId">
                        <option value="">Select a client</option>
                    </select>
                    <span asp-validation-for="SelectedClientId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="wysiwyg">
                    <textarea asp-for="Description" id="edit-Description"></textarea>
                    <div id="edit-wysiwyg-editor" class="wysiwyg-editor"></div>
                    <div id="edit-wysiwyg-toolbar" class="wysiwyg-toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-align" value=""></button>
                            <button class="ql-align" value="center"></button>
                            <button class="ql-align" value="right"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-list" value="ordered"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </div>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-horizontal-group">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" id="edit-StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" id="edit-EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group with-dollar">
                    <span class="input-dollar"><i class="fa-solid fa-dollar-sign"></i></span>
                    <input asp-for="Budget" id="edit-Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Save</button>
        </form>

    </div>
</div>
