@model IEnumerable<User>

<div class="member-list">
    @if (Model != null)
    {
        @foreach (var user in Model)
        {
            <div class="member-card surface">
                <div class="member-actions">
                    <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#edituserModal-@user.Id"></i>
                </div>

                <div class="member-info">
                    <img class="member-image" src="~/images/avatars/avatar-template.svg" alt="" />
                    <h3 class="member-name">@user.DisplayName</h3>
                    <div class="member-jobtitle">@user.JobTitle CEO</div>
                    <div class="member-email">@user.Email</div>
                    <div class="member-phone">@user.Phone</div>
                    <button class="member-message btn btn-gray">Message</button>
                </div>
            </div>
        }
    }
</div>