@model IEnumerable<Project>

<div>
    @if (Model != null)
    {
        @foreach (var project in Model)
        {
            <partial name="Partials/Sections/_ProjectListItem" model="project" />
        }
    }
    else
    {
        <p>No projects found</p>
    }
</div>